* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 2rem;
    background-color: #2b7d4f; 
    /* #fef82d */
    /* background-image: url(/images/spongebob-background.jpg); */
    color: #1d1d1d;
}

.logo img {
    display: block;
    margin: 1% 44%;
    max-width: 10%;
    height: auto;
}

.container  {
    width: 60%;
    margin: auto;
    background-color: #8de7b4;
    border: 5px solid #d8370c;
    padding: 20px;
    border-radius: 5px;
}

header h1 {
    text-align: center;
    margin-bottom: 10%;
}
main p {
    margin-bottom: 30px;
}

main button {
    font-size: 25px;
    padding: 5px 25px;
    display: block;
    margin: auto;
    margin-top: 100px;
    cursor: pointer;
}