@import url(/css/style.css);

body {
    color: #e9e9e9;
    background-color: #feff00;
    background-image: url(/images/spongebob-background.jpg);
}

.logo img {
    display: block;
    margin: 1% 44%;
    max-width: 10%;
    height: auto;
}

.container  {
    background-color: #000000c5;
    border: 5px solid #38b2d1;
}

header h1 {
    text-align: center;
    margin-bottom: 10%;
}
main p {
    margin-bottom: 30px;
}