@import url(/css/style.css);

body {
    background-color: #77b2f1; 
    /* background-image: url(/images/spongebob-background.jpg); */
    color: #1d1d1d;
}

.logo img {
    display: block;
    margin: 1% 44%;
    max-width: 10%;
    height: auto;
}

.container  {
    width: 60%;
    margin: auto;
    background-color: #c0d8cc;
    border: 5px solid #334258;
    padding: 20px;
    border-radius: 5px;
}

header h1 {
    text-align: center;
    margin-bottom: 10%;
}
main p {
    margin-bottom: 30px;
}

main button {
    font-size: 25px;
    padding: 5px 25px;
    display: block;
    margin: auto;
    margin-top: 100px;
    cursor: pointer;
}