@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700;800&display=swap');
@import url(media.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.7rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.container {
    width: 60%;
    margin: auto;
    padding: 20px;
    padding-bottom: 60px;
    border-radius: 10px;
    min-height: 70vh;
    position: relative;
}

main button {
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%);
    font-size: 25px;
    padding: 3px 50px;
    border: 2px solid;
    border-radius: 25px;
    font-weight: bolder;
    font-family: 'Mukta', sans-serif;
}